<html>
<link rel="icon" href="logo.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bitter|Cutive+Mono|Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h1 style="text-align: center">Your Dashboard</h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 gridBox">
			<h3>Your Papers</h3>
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
		</div>
		<div class="col-md-6 gridBox">
			<h3>Most Popular</h3>
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 gridBox">
			<h3>Recently Viewed</h3>
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
		</div>
		<div class="col-md-6 gridBox">
			<h3>You might like...</h3>
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
			<embed width="30%" height="75%" name="plugin" src="https://www.omicsonline.org/open-access/novel-functions-of-phytohormones-in-animal-brains.pdf" type="application/pdf">
		</div>
	</div>
</div>

<style>
	.gridBox{
		border-style: solid;
		height: 44%;
	}
	h3{
		text-align: center;
	}
</style>
<script>
</script>
</html>